.navbar {
    background: linear-gradient(353deg, black, transparent);
    margin-bottom: 20px;
}

.logo {
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
}

.logo a {
    color: #000;
}

.logo a:hover {
    text-decoration: none;
    color: rgb(243, 113, 7);
}

.logo span {
    font-size: larger;
    font-weight: bold;
    font-family: fantasy;
    letter-spacing: 0.6rem;
}

.wishlist_icon {
    color: #fff;
    position: relative;
}

.wishlist_icon > svg {
    fill: #fff;
    font-size: 22px;
}

.badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: tomato;
    border-radius: 50%;
}