
.productComponent {
    box-sizing: border-box;
    display: flex;
    padding: 10px;
}

.productComponent > a {
    text-decoration: none;
}

.card {
    box-shadow: 0px 5px 25px #00000042 !important;
    border: none;
}

.card a {
    text-decoration: none;
    color: #000;
}

.card hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card a:hover {
    text-decoration: none;
    color: #000;
}

.card-img-top {
    height: 250px;
    padding: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title:hover {
    white-space: inherit;
}

.price {
    font-weight: 600;
}

.category {
    font-size: 12px;
    color: #ccc;
}

.wishlist {
    float: right;
    margin-top: -20px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: #cbcbcb;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-color-white > svg {
    fill: #fff;
}